{% extends '_home_header.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper">

<div class="error-wrap mt-100 ptb-100">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<div class="error-content">
<img src="{% static 'assets/img/about/about-shape-3.png' %}" alt="Image" class="about-shape-three">
<h2>Thank you!</h2>
<p>Thank you for contacting Green Trust bank, we will get back to you in the earliest time possible.</p>
<a href="index.html" class="btn style2">Back To Home</a>
</div>
</div>
</div>
</div>
</div>

</div>


{% endblock %}